.MainBody {
  font-family: "Spectral SC";
  background: #d1ebff;

  padding-top: 35px;
  padding-bottom: 30px;
}
.InnerBody {
  background-color: white;
  margin-right: 60px;
  margin-left: 60px;
  -webkit-box-shadow: 0px 1px 50px 33px rgba(0, 105, 255, 0.3);
  box-shadow: 0px 1px 50px 33px rgba(0, 105, 255, 0.3);

  border-radius: 35px;
}

@media (max-width: 700px) {
  .InnerBody {
    margin-right: 0px;
    margin-left: 0px;
    width:100%;
    -webkit-box-shadow:none;
    box-shadow:none; 
    border-radius: 0;


  }
  .MainBody {
    /* width: 100%; */
    -webkit-box-shadow:none;
    box-shadow:none;
    width: 96.5%;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    border-radius: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 600px) {
  .InnerBody {
    margin-right: 0px;
    margin-left: 0px;
    width:100%;
    -webkit-box-shadow:none;
    box-shadow:none; 
    border-radius: 0;


  }
  .MainBody {
    /* width: 100%; */
    -webkit-box-shadow:none;
    box-shadow:none;
    width: 95.5%;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    border-radius: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 470px) {
  .InnerBody {
    width: 100%;
    /* box-sizing:border-box; */
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    
  } 
  .MainBody {
      width: 94.6%;
      box-sizing:border-box;
      display: flex;
      justify-content: center;
      border-radius: 0;
      /* margin-left: 10px; */
  }

}

@media (max-width: 430px) {
  .InnerBody {
    width: 100%;
    /* box-sizing:border-box; */
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    
  } 
  .MainBody {
      width: 94%;
      box-sizing:border-box;
      display: flex;
      justify-content: center;
      border-radius: 0;
      /* margin-left: 10px; */
  }

}

@media (max-width: 350px) {
  .InnerBody {
    width: 100%;
    /* box-sizing:border-box; */
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    
  } 
  .MainBody {
      width: 92.5%;
      box-sizing:border-box;
      display: flex;
      justify-content: center;
      border-radius: 0;
      /* margin-left: 10px; */
  }

}